@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    min-height: 1000px;
    position: relative;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

input {
    border: 1px solid blue;
    border-color: rgba(red, green, blue, 0.5);
}

.select {
    display: none;
}

.select.open {
    display: block;
}

.item:not(.item.active):hover {
    background-color: #575016;
}

.item.active {
    background-color: #86efac;
}

.nav-item.active {
    color: blue;
    position: relative;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
}

