@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    min-height: 1000px;
    position: relative;
}

input {
    border: 1px solid blue;
    border-color: rgba(red, green, blue, 0.5);
}

.select {
    display: none;
}

.select.open {
    display: block;
}

.item.active {
    background-color: #86efac;
}